platform/mac/avmshell/build/avmshell.build/Debug/
platform/mac/avmshell/build/avmshell.build/Release/
platform/mac/avmshell/build/Debug/
platform/mac/avmshell/build/Release/
platform/mac/avmshell/avmshell.xcodeproj/
platform/mac/avmshell/build/avmshell.build/
*.swp
*.swo
